# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe
*.pdb
*.tlog
*.ilk
*.idb

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.cache

Sipic.vs2012/Debug/
Sipic.vs2012/Sipic/Debug/

*.c9revisions*
